<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/css/bootstrap.min.css">
<!-- Optional theme -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/css/bootstrap-theme.min.css">

<!--        <link href='http://fonts.googleapis.com/css?family=Ruluko|Kaushan+Script' rel='stylesheet' type='text/css'> -->
        <link href='//fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Fredericka+the+Great&text=I' rel='stylesheet' type='text/css'>
        
        <script type="text/javascript">
(function() {
    var config = {
        kitId: 'lsi5uyx',
        scriptTimeout: 3000
    };
    var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
})();
        </script>
        <style>
        .wf-loading {
            font-family: serif;
            visibility: hidden;
        }
        .wf-active {
            visibility: visible;
        }
        </style>
        
        <style>
            html {
                font-size: 100%;
            }
            body {
                font-size: 100%;
                font-weight: 400;
                line-height: 150%;
            }
            
            blockquote p {
                font-size: 112.5%;
                line-height: 133.33333333%;
            }
            
            blockquote small {
                line-height: 176.47%;
            }
            
            .words:first-child:first-letter { 
                float: left;
                padding-right: 0.25em;
                padding-left: 0.1em;

                font-family: "Fredericka the Great";
                font-size: 300%;
                line-height: 100%;
                vertical-align: text-top;
            }
            
            p {
                text-align: justify;
            }
            
            blockquote.pull-right {
                padding-left: 1em;
            }
            
            article {
                padding-bottom: 1em;
            }
            
            .wrapper {
                position: relative;
            }

            .wt {
                z-index: 1000;
                width: 100%;
                font-family: 'Kaushan Script', cursive;
                font-weight: 400;
            }
            
            .wt h1 {
                position: absolute;
                left: 0.5em;
                top: 0.5em;
                font-size: 3em;
            }
            
            .wt h2 {
                position: absolute;
                left: 0.5em;
                bottom: 0.25em;
                font-size: 1.5em;
            }
        </style>        
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
        <![endif]-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/FitText.js/1.1/jquery.fittext.min.js"></script>
<script src=""></script>
    </head>
    <body>
        <div class="container">
            <div class="row wrapper">
                <div class="col-md-12">
                    <object data="s/img/head_wt_1-1.svg" type="image/svg+xml">
                        <!--[if lte IE 8]>
                            <img src="img/head_wt_1-1@1x.jpg" alt="Lettuce Leaves on a white rectangular bowl">
                        <![endif]-->
                    </object>
                    <a class="wt" href="//www.wetlettuce.com/">
                        <h1 class="wt" id="mast-txt">Wet Lettuce</h1>
<!--                        <h2 class="wt" id="mast-subtxt">Some witty remark goes here</h2> -->
                    </a>
                </div>
            </div>
            <style>
                .navbar.speckle {
                    background-image: url(s/img/bg_noise.jpg);
                    background-color: #000;
                }
            </style>
            <div class="navbar navbar-inverse speckle" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Menu</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
{{!
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/data/fuel_consumption">Fuel Consumption</a></li>
                                <li><a href="/data/electricity_usage">Electricity Usage</a></li>
                            </ul>
                        </li>
}}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Photography <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="http://flickr.com/photos/wetlettuce">Flickr</a></li>
                                <li><a href="http://500px.com/mbroadbent">500px</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            
            {{{body}}}
        </div>
        <script>
$(document).ready(function() {
    try {
        $("#mast-txt").fitText(1.25);
        $("#mast-subtxt").fitText(3);
    } catch (e) {}

    $('img').addClass("img-responsive");
});
        </script>
    </body>
</html>
